<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>{{static.reportInfo.reportTitle}}  | {{data.title}}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<style type="text/css">
		@prince-pdf {
			prince-pdf-print-scaling: auto;
		}
		@page :first {
			size: 'US-Letter';
			margin: 72px 0 66px 0;

			background-image: url(assets/projects/internal/producthub/profilemanager/successprofile/fullexport/v1.0.0/background.png);
			background-repeat: no-repeat;
			background-size: 100% 100%;	

			@top-left {
				content: "";
				padding:0;
				margin:0;
				border: 0;
			}
			@top-right {
				content: "";
				padding:0;
				margin:0;
				border: 0;
			}
			@bottom-left {
				font-family: 'Proxima Nova Rg', sans-serif;
				font-size: 8pt;
				line-height: 20px;
				border-top: solid 0.5px #919191;
				color: #a5a5a4;
				vertical-align: middle;
				content: url(assets/projects/internal/producthub/profilemanager/successprofile/fullexport/v1.0.0/logo-white.svg);
				padding-left:36px;	
				background: black;
			}
			@bottom-right {
				font-family: 'Proxima Nova Rg', sans-serif;
				font-size: 8pt;
				line-height: 20pt;
				border-top: solid 0.5px #919191;
				vertical-align: middle;
				color: #a5a5a4;
				content: "{{static.aboutKF.copyright}}";
				padding-right: 36px;
				background: black;
			}
		}

		@page {
			size: 'US-Letter';
			margin: 72px 0 66px 0;
			@top-left {
				content: "{{static.reportInfo.reportTitle}}  | {{data.title}}";
				font-family: 'ProximaNova-Regular', sans-serif;
				font-size: 10px;
				font-weight: bold;
				line-height: 1.2;
				letter-spacing: 1.2px;
				text-align: left;
				vertical-align: bottom;
				padding-bottom: 2pt;
				padding-left:36px;	
				color: #959599;
				border-bottom: solid 0.5px #919191;
				text-transform: uppercase;
				margin-bottom: 20px;
			}
			@top-right {
				content: "{{date_now scoring.reportLanguage}}";
				font-family: 'ProximaNova-Regular', sans-serif;
				font-size: 10px;
				font-weight: bold;
				line-height: 1.2;
				letter-spacing: 1.2px;
				text-align: right;
				vertical-align: bottom;
				padding-bottom: 2pt;
				padding-right: 36px;
				color: #959599;
				border-bottom: solid 0.5px #919191;
				margin-bottom: 20px;

			}
			@bottom-left {
				font-family: 'ProximaNova-Regular', sans-serif;
				font-size: 8pt;
				line-height: 20px;
				border-top: solid 0.5px #919191;
				color: #a5a5a4;
				vertical-align: top;
				content: "{{static.aboutKF.copyright}}";
				padding-left:36px;	
			}
			@bottom-right {
				font-family: 'ProximaNova-Regular', sans-serif;
				font-size: 8pt;
				line-height: 20pt;
				border-top: solid 0.5px #919191;
				vertical-align: top;
				color: #a5a5a4;
				padding-right: 36px;
				content:  counter(page);
			}
		}

		@page last {

			size: 'US-Letter';
			height: 100%;
			margin: 135px 0 66px 0;

			@top-left {
				margin-bottom:20px;
				padding-bottom: 10px;
				padding-left: 82px;
				content: url(assets/projects/internal/producthub/profilemanager/successprofile/fullexport/v1.0.0/logo.svg);
				color: #959599;
				border-bottom: solid 0.5px #919191;
			}
			@top-right {
				margin-bottom: 20px;
				padding-bottom: 10px;
				content: '';
				color: #959599;
				border-bottom: solid 0.5px #919191;
			}
			@bottom-left {
				font-family: 'ProximaNova-Regular', sans-serif;
				font-size: 8pt;
				line-height: 20px;
				border-top: solid 0.5px #919191;
				color: #a5a5a4;
				vertical-align: middle;
				content: "{{static.aboutKF.copyright}}";
			}
			@bottom-right {
				font-family: 'ProximaNova-Regular', sans-serif;
				font-size: 8pt;
				line-height: 20pt;
				border-top: solid 0.5px #919191;
				vertical-align: top;
				color: #a5a5a4;
				content: '';
			}
		}

		div.last {
			page: last;
		}
	</style>

	<!-- 
		<link rel="stylesheet" type="text/css" href="styles/projects/internal/producthub/profilemanager/successprofile/fullexport/styles.css"/> 
		<link rel="stylesheet" type="text/css" href="styles/projects/internal/producthub/profilemanager/successprofile/fullexport/v1.0.2/styles.css"/>
	-->

		<link rel="stylesheet" type="text/css" href="styles/projects/internal/producthub/profilemanager/successprofile/fullexport/v1.0.2/styles.css"/>



</head>
<body>

	<div class="main-container">

		<div class="cover-page-portrait cover-page-portrait-full-image">

			<div class="section-1">
				<div class="cover-solution-name">{{static.reportInfo.reportTitle}}</div>
			</div>

			<div class="section-2">
				
				<div class="cover-page-header">
					<div class="title">
						{{data.title}}
					</div>
					<div class="details">
						<div>
							{{#if data.isTemplateJob}}	
								<img src="assets/projects/internal/producthub/profilemanager/successprofile/fullexport/v1.0.2/icon-bic.svg" /> 
							{{else}}
								<img src="assets/projects/internal/producthub/profilemanager/successprofile/fullexport/v1.0.2/icon-custom.svg" /> 
							{{/if}}
						</div>
						<div>
							{{#if data.isTemplateJob}}	
								{{static.reportInfo.typeBIC}}
							{{else}}
								{{static.reportInfo.typeCustom}}
							{{/if}}
						</div>
						<div class="seperator">
							{{data.jobLevel}}
						</div>
						<div class="seperator">
							{{data.familyName}} 
						</div>
						<div class="seperator">
							{{data.subFamilyName}}
						</div>
					</div>
					<div class="jd-clear-fix"></div>
				</div>

			</div>

			<div class="section-3">
				<div class="cover-page-meta-data">
					<div class="meta-data-label">{{static.reportInfo.createdOn}}</div>
					<div class="meta-data-value">
						{{#each data.sources}}
							{{#if (compare type  '=='  "CREATED_BY")}}
								{{date effectiveDateTime 'en'}}
							{{/if}}
						{{/each}}
					</div>
				</div>
				<div class="cover-page-meta-data">
					<div class="meta-data-label">{{static.reportInfo.createdBy}}</div>
					<div class="meta-data-value">
						{{#each data.sources}}
							{{#if (compare type  '=='  "CREATED_BY")}}
								{{firstName}} {{lastName}}
							{{/if}}
						{{/each}}
					</div>
				</div>
			</div>

		</div>

		{{#each data.sectionGroups}}
			{{#unless (compare name '==' 'TASKS & SKILLS')}}
			<div class="section">
				<div class="page-title">{{name}}</div>
				<div class="sub-sections">
					{{#if sections.length}}
						{{#each sections}}
							{{#if categories.length}}
							{{#if (compare code '==' 'EXPERIENCE')}}
								<div class="sub-section-experience">
									<h2>{{name}}</h2>
									<div class="table">
										<div class="header-row">
											<div class="header-column col-3">
												{{label}}
											</div>
											<div class="header-column col-4">
												Level Required
											</div>
											<div class="header-column col-5">
												Definition
											</div>
										</div>
										{{#each categories}}
											{{#each subCategories}}
												{{#each descriptions}}
													<div class="row">
														<div class="column col-3">
															{{name}}
														</div>
														<div class="column col-4">

															<div class="progress-bar">
																<div class="label">{{level}}</div>
																{{#each ../../../segments}}
																	{{#if (compare @index  '<'  ../level)}}
																		<div class="item filled"></div>
																	{{else}}
																		<div class="item"></div>
																	{{/if}}
																{{/each}}
															</div>

														</div>
														<div class="column col-5">
															{{#if description}}
																{{description}}
															{{/if}}
														</div>
													</div>
												{{/each}}
											{{/each}}
										{{/each}}
									</div>
								</div>
							{{else}}
								<div class="sub-section">
										<h2>{{name}}</h2>
									<div class="table">
										<div class="header-row">
											<div class="header-column col-3">
												{{label}}
											</div>
											<div class="header-column col-4">
												Level Required
											</div>
											<div class="header-column col-5">
												Definition

											</div>
										</div>
										{{#each categories}}
											{{#each subCategories}}
												{{#each descriptions}}
													<div class="row">
														<div class="column col-3">
															{{name}}
														</div>
														<div class="column col-4">

															<div class="progress-bar">
																<div class="label">{{level}}</div>
																{{#each ../../../segments}}
																	{{#if (compare @index  '<'  ../level)}}
																		<div class="item filled"></div>
																	{{else}}
																		<div class="item"></div>
																	{{/if}}
																{{/each}}
															</div>

														</div>
														<div class="column col-5">
															{{#if description}}
																{{description}}
															{{/if}}
														</div>
													</div>
												{{/each}}
											{{/each}}
										{{/each}}
									</div>
								</div>
							{{/if}}
							{{/if}}
						{{/each}}
					{{/if}}
				</div>
			</div>
			{{/unless}}
		{{/each}}

		<div class="last section">
			<div class="about-kf">
				<h5>{{static.aboutKF.title}}</h5>
				<div>{{static.aboutKF.desc1}}</div>
			</div>
		</div>
	</div>

</body>
</html>