<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>{{static.reportInfo.reportTitle}}  | {{data.title}}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<style type="text/css">
		@prince-pdf {
			prince-pdf-print-scaling: auto;
		}
		@page :first {
			margin: 72px 0 66px 0;
			@top-left {
				content: "{{static.reportInfo.reportTitle}}";
				font-family: 'ProximaNova-Regular', sans-serif;
				font-size: 10px;
				font-weight: bold;
				line-height: 1.2;
				letter-spacing: 1.2px;
				text-align: left;
				padding-left:36px;	
				vertical-align: bottom;
				padding-bottom: 2pt;
				color: #959599;
				border-bottom: solid 0.5px #919191;
				text-transform: uppercase;
			}
			@top-right {
				content: "{{date_now scoring.reportLanguage}}";
				font-family: 'ProximaNova-Regular', sans-serif;
				font-size: 9px;
				font-weight: bold;
				line-height: 1.2;
				letter-spacing: 1.2px;
				text-align: right;
				vertical-align: bottom;
				padding-bottom: 2pt;
				padding-right: 36px;
				color: #959599;
				border-bottom: solid 0.5px #919191;

			}
			@bottom-left {
				font-family: 'ProximaNova-Regular', sans-serif;
				font-size: 8pt;
				line-height: 20px;
				border-top: solid 0.5px #919191;
				color: #a5a5a4;
				vertical-align: middle;
				content: url(assets/projects/internal/producthub/profilemanager/jobdescription/fullexport/v1.0.2/logo.svg);
				padding-left:36px;	
			}
			@bottom-right {
				font-family: 'ProximaNova-Regular', sans-serif;
				font-size: 8pt;
				line-height: 20pt;
				border-top: solid 0.5px #919191;
				vertical-align: middle;
				color: #a5a5a4;
				content: "{{static.aboutKF.copyright}}";
				padding-right: 36px;
			}
		}

		@page {
			margin: 72px 0 66px 0;
			@top-left {
				content: "{{static.reportInfo.reportTitle}}  | {{data.title}}";
				font-family: 'ProximaNova-Regular', sans-serif;
				font-size: 10px;
				font-weight: bold;
				line-height: 1.2;
				letter-spacing: 1.2px;
				text-align: left;
				vertical-align: bottom;
				padding-bottom: 2pt;
				padding-left:36px;	
				color: #959599;
				border-bottom: solid 0.5px #919191;
				text-transform: uppercase;
				margin-bottom: 20px;
			}
			@top-right {
				content: "{{date_now scoring.reportLanguage}}";
				font-family: 'ProximaNova-Regular', sans-serif;
				font-size: 10px;
				font-weight: bold;
				line-height: 1.2;
				letter-spacing: 1.2px;
				text-align: right;
				vertical-align: bottom;
				padding-bottom: 2pt;
				padding-right: 36px;
				color: #959599;
				border-bottom: solid 0.5px #919191;
				margin-bottom: 20px;

			}
			@bottom-left {
				font-family: 'ProximaNova-Regular', sans-serif;
				font-size: 8pt;
				line-height: 20px;
				border-top: solid 0.5px #919191;
				color: #a5a5a4;
				vertical-align: top;
				content: "{{static.aboutKF.copyright}}";
				padding-left:36px;	
			}
			@bottom-right {
				font-family: 'ProximaNova-Regular', sans-serif;
				font-size: 8pt;
				line-height: 20pt;
				border-top: solid 0.5px #919191;
				vertical-align: top;
				color: #a5a5a4;
				padding-right: 36px;
				content:  counter(page);
			}
		}

		@page last {

			height: 100%;
			margin: 135px 0 66px 0;

			@top-left {
				margin-bottom:20px;
				padding-bottom: 10px;
				padding-left: 82px;
				content: url(assets/projects/internal/producthub/profilemanager/jobdescription/fullexport/v1.0.2/logo.svg);
				color: #959599;
				border-bottom: solid 0.5px #919191;
			}
			@top-right {
				margin-bottom: 20px;
				padding-bottom: 10px;
				content: '';
				color: #959599;
				border-bottom: solid 0.5px #919191;
			}
			@bottom-left {
				font-family: 'ProximaNova-Regular', sans-serif;
				font-size: 8pt;
				line-height: 20px;
				border-top: solid 0.5px #919191;
				color: #a5a5a4;
				vertical-align: middle;
				content: "{{static.aboutKF.copyright}}";
			}
			@bottom-right {
				font-family: 'ProximaNova-Regular', sans-serif;
				font-size: 8pt;
				line-height: 20pt;
				border-top: solid 0.5px #919191;
				vertical-align: top;
				color: #a5a5a4;
				content: '';
			}
		}

		div.last {
			page: last;
		}
	</style>
	<!--<link rel="stylesheet" type="text/css" href="styles/projects/internal/producthub/profilemanager/jobdescription/fullexport/styles.css"/>-->
	<link rel="stylesheet" type="text/css" href="styles/projects/internal/producthub/profilemanager/jobdescription/fullexport/v1.0.2/styles.css"/>
</head>
<body class="primary-font-regular global-color-1 medium-text">

	<div class="main-container">
		<div class="jd-header">
			<div class="title">
				{{data.title}}
			</div>
			<div class="details">
				<div>
					{{data.jobLevel}}
				</div>
				<div class="seperator">
					{{data.familyName}} 
				</div>
				<div class="seperator">
					{{data.subFamilyName}}
				</div>
			</div>
			<div class="jd-clear-fix"></div>
		</div>

		<div class="section jd-section">
			{{#if data.companyDescription.length}}
				<div class="jd-sub-section">
					<div class="jd-sub-section-left primary-font-bold">About the Company</div>
					<div class="jd-sub-section-right">
						<div class="jd-item-description">{{data.companyDescription}}</div>
					</div>
					<div class="jd-clear-fix"></div>
				</div>
			{{/if}}

			{{#if data.description.length}}
				<div class="jd-sub-section">
					<div class="jd-sub-section-left primary-font-bold">Job Purpose</div>
					<div class="jd-sub-section-right">
						<div class="jd-item-description">{{data.description}}</div>
					</div>
					<div class="jd-clear-fix"></div>
				</div>
			{{/if}}

			{{#each data.sections}}
				{{#if categories.length}}
					<div class="jd-sub-section">
						<div class="jd-sub-section-left primary-font-bold">{{name}}</div>
						<div class="jd-sub-section-right">
							{{#each categories}}
								{{#each subCategories}}
									{{#each descriptions}}
										<div class="jd-item-header">{{{name}}}</div>
										<div class="jd-item-description">
											{{#if description}}
												{{description}}
											{{/if}}
										</div>
									{{/each}}
								{{/each}}
							{{/each}}
						</div>
						<div class="jd-clear-fix"></div>
					</div>
				{{/if}}
			{{/each}}
		
			{{#if data.additionalComments.length}}
				<div class="jd-sub-section">
					<div class="jd-sub-section-left primary-font-bold">Additional Information</div>
					<div class="jd-sub-section-right">
						<div class="jd-item-description">{{data.additionalComments}}</div>
					</div>
					<div class="jd-clear-fix"></div>
				</div>
			{{/if}}

		</div>

		<div class="last section">
			<div class="about-kf">
				<div class="about-kf-header">{{static.aboutKF.title}}</div>
				<div class="about-kf-description">{{static.aboutKF.desc1}}</div>
			</div>
		</div>
	</div>

</body>
</html>