@import "../../shared/fonts.css";
@import "../../shared/layouts.css";
@import "../../shared/typography.css";


/*-- colors --*/

.global-color-1 {
    color: #000;
}

.global-color-2 {
    color: #a1a5a4;
}

.global-background-color-2 {
    background-color: #f7f7f7;
}

.first-color-1 {
    color: #5eb48b;
}

.first-background-color-2 {
    background-color: #cfe8dc;
}

.second-color-1 {
    color: #675a81;
}

/*---*/

.jd-header
{
	margin-bottom:30px;
	margin-top:30px;
}

.jd-header .title
{
	color:#005971;
	font-family:ProximaNova-Semibold, sans-serif;
	font-size:28px;
	font-weight:600;
	letter-spacing:1.5px;
	line-height:1.07;
	padding-bottom:10px;
	text-align:left;
	text-transform:uppercase;
}

.jd-header .details
{
	color:var(--gray-2);
	display:block;
	flex-direction:row;
	font-family:'Proxima Nova Rg', sans-serif;
	font-size:10px;
	letter-spacing:.3px;
	line-height:1.6;
	text-align:left;
    vertical-align:middle;
}

.jd-header .details div {
	display:block;
	float:left;
	margin-left:5px;
	padding-left:5px;
}

.jd-header .details div:first-child {
	margin-left:0;
	padding-left:0;
}

.jd-header .details div.seperator {
	border-left:solid #4d4d4f .5px;
}

.jd-section {
    display:block;
}

.jd-sub-section {
    margin-top: 20px;
    display: block;    
    page-break-inside: auto;
}

.jd-sub-section-left {
	display: block;
    float: left;
	color:#000;
	font-family: 'ProximaNova-Semibold', sans-serif;
	font-size: 9px;
	font-weight:600;
	letter-spacing:.8px;
	line-height:12px;
	text-align:left;
	text-transform:uppercase;
	width:30%;
}

.jd-sub-section-right {
	display: block;
    float: right;
	color:var(--gray-2);
	font-size:10px;
	letter-spacing:.3px;
	line-height:1.6;
	text-align:left;
	width:70%;
}
.jd-clear-fix{
    clear: both;
}

.jd-item-header {
	font-family:ProximaNova-Semibold, sans-serif;
	margin:0 0 2px;
}

.jd-item-description {
	font-family:'ProximaNova-Regular', sans-serif;
	margin:0 0 15px;
}

.about-kf {
	margin-left:42px;
}

.about-kf-header {
	color:#000;
	font-family:'ProximaNova-Semibold', sans-serif;
	font-size:9px;
	font-weight:600;
	letter-spacing:.8px;
	line-height:1.33;
	text-align:left;
	text-transform:uppercase;
}

.about-kf-description {
	color:var(--gray-2);
	font-family:'ProximaNova-Regular', sans-serif;
	font-size:10px;
	letter-spacing:.3px;
	line-height:1.6;
	text-align:left;
	width:70%;
}

/*-- special --*/

.korn-ferry-logo-special {
    width: 205pt;
    height: 42.874pt;
    margin-left: -25pt;
}

.company-logo-special {
    height: 49px;
    width: 179px;
    margin-left: 70%;
}


/* shared */
/*-- globals --*/

body {
    margin: 0;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

p {
    break-inside: avoid-column;
    page-break-inside: avoid;
    column-break-inside: avoid;
}

li {
    margin-left: -29pt;
}

/*-- fonts --*/

.primary-font-black {
    font-family: sans-serif;
    font-weight: 800
}

.primary-font-bold {
    font-family: sans-serif;
    font-weight: 700;
}

.primary-font-semibold {
    font-family: sans-serif;
    font-weight: 600;
}

.primary-font-regular {
    font-family: sans-serif;
    font-weight: 400;
}

.primary-font-light {
    font-family: sans-serif;
    font-weight: 200;
}

/*-- layout --*/

.anchor {
    position: relative;
}

.page {
    break-after: always;
}

.section {
    page-break-after: always;
}

.two-column, .three-column, .four-column {
    column-fill: balance;
    column-gap: 15px;
}

.visual-component {
    width: 100%;
    height: auto;
}

.two-column {
    column-count: 2;
}

.three-column {
    column-count: 3;
}

.four-column {
    column-count: 4;
}

.row {
    width: 100%;
    display: table;
}

.col, .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    display: table-cell;
    vertical-align: top;
    min-height: 1px;
    position: relative;
}

.col-xs-12 {
    width: 100%;
}

.col-xs-11 {
    width: 91.66666667%;
}

.col-xs-10 {
    width: 83.33333333%;
}

.col-xs-9 {
    width: 75%;
}

.col-xs-8 {
    width: 66.66666667%;
}

.col-xs-7 {
    width: 58.33333333%;
}

.col-xs-6 {
    width: 50%;
}

.col-xs-5 {
    width: 41.66666667%;
}

.col-xs-4 {
    width: 33.33333333%;
}

.col-xs-3 {
    width: 25%;
}

.col-xs-2 {
    width: 16.66666667%;
}

.col-xs-1 {
    width: 8.33333333%;
}

.col-xs-pull-12 {
    right: 100%;
}

.col-xs-pull-11 {
    right: 91.66666667%;
}

.col-xs-pull-10 {
    right: 83.33333333%;
}

.col-xs-pull-9 {
    right: 75%;
}

.col-xs-pull-8 {
    right: 66.66666667%;
}

.col-xs-pull-7 {
    right: 58.33333333%;
}

.col-xs-pull-6 {
    right: 50%;
}

.col-xs-pull-5 {
    right: 41.66666667%;
}

.col-xs-pull-4 {
    right: 33.33333333%;
}

.col-xs-pull-3 {
    right: 25%;
}

.col-xs-pull-2 {
    right: 16.66666667%;
}

.col-xs-pull-1 {
    right: 8.33333333%;
}

.col-xs-pull-0 {
    right: auto;
}

.col-xs-push-12 {
    left: 100%;
}

.col-xs-push-11 {
    left: 91.66666667%;
}

.col-xs-push-10 {
    left: 83.33333333%;
}

.col-xs-push-9 {
    left: 75%;
}

.col-xs-push-8 {
    left: 66.66666667%;
}

.col-xs-push-7 {
    left: 58.33333333%;
}

.col-xs-push-6 {
    left: 50%;
}

.col-xs-push-5 {
    left: 41.66666667%;
}

.col-xs-push-4 {
    left: 33.33333333%;
}

.col-xs-push-3 {
    left: 25%;
}

.col-xs-push-2 {
    left: 16.66666667%;
}

.col-xs-push-1 {
    left: 8.33333333%;
}

.col-xs-push-0 {
    left: auto;
}

.col-xs-offset-12 {
    margin-left: 100%;
}

.col-xs-offset-11 {
    margin-left: 91.66666667%;
}

.col-xs-offset-10 {
    margin-left: 83.33333333%;
}

.col-xs-offset-9 {
    margin-left: 75%;
}

.col-xs-offset-8 {
    margin-left: 66.66666667%;
}

.col-xs-offset-7 {
    margin-left: 58.33333333%;
}

.col-xs-offset-6 {
    margin-left: 50%;
}

.col-xs-offset-5 {
    margin-left: 41.66666667%;
}

.col-xs-offset-4 {
    margin-left: 33.33333333%;
}

.col-xs-offset-3 {
    margin-left: 25%;
}

.col-xs-offset-2 {
    margin-left: 16.66666667%;
}

.col-xs-offset-1 {
    margin-left: 8.33333333%;
}

.col-xs-offset-0 {
    margin-left: 0%;
}

.block, .block-plain {
    padding-top: 7pt;
    padding-bottom: 7pt;
    column-break-inside: avoid;
}

.prevent-column-break {
    break-inside: avoid-column;
}

.block {
    border-bottom: 1px solid #d0d2d3;
}

.block-plain {
    border-bottom: none;
}

/*-- borders --*/

.debug-border {
    border: 1px dashed red !important;
}

/*-- text margins --*/

.tiny-margin {
    margin-bottom: 2pt;
}

.smallest-margin {
    margin-bottom: 3pt;
}

.smaller-margin {
    margin-bottom: 5pt;
}

.small-margin {
    margin-bottom: 8.5pt;
}

.medium-margin {
    margin-bottom: 12pt;
}

.large-margin {
    margin-bottom: 16pt;
}

.larger-margin {
    margin-bottom: 18pt;
}

.largest-margin {
    margin-bottom: 22pt;
}

.huge-margin {
    margin-bottom: 50pt;
}

/*-- font sizes --*/

.tiny-text {
    font-size: 5pt;
}

.smallest-text {
    font-size: 6pt;
}

.smaller-text {
    font-size: 7pt;
}

.small-text {
    font-size: 9pt;
    line-height: 1.1em;
}

.medium-text {
    font-size: 11pt;
}

.large-text {
    font-size: 12.5pt;
}

.larger-text {
    font-size: 15.5pt;
}

.largest-text {
    font-size: 18pt;
}

.huge-text {
    font-size: 24pt
}

.title-text {
    font-size: 36pt;
    line-height: 36pt;
}
