/* Font Faces */

/* standard serif font family */
@font-face {
    font-family: serif;
    src: prince-lookup("Garuda") /* Thai script */
}

@font-face {
    font-family: serif;
    src: prince-lookup("Lohit Oriya") /* Oriya script */
}

@font-face {
    font-family: serif;
    src: prince-lookup("MalOtf") /* Malayalam script */
}

@font-face {
    font-family: serif;
    src: prince-lookup("Lohit Kannada") /* Kannada script */
}

@font-face {
    font-family: serif;
    src: prince-lookup("Lohit Telugu") /* Telugu script */
}

@font-face {
    font-family: serif;
    src: prince-lookup("Lohit Tamil") /* Tamil script */
}

@font-face {
    font-family: serif;
    src: prince-lookup("Lohit Gujarati") /* Gujarati script */
}

@font-face {
    font-family: serif;
    src: prince-lookup("Lohit Punjabi") /* Gurmukhi script */
}

@font-face {
    font-family: serif;
    src: prince-lookup("Ani"), prince-lookup("Mukti Narrow") /* Bengali script */
}

@font-face {
    font-family: serif;
    src: prince-lookup("Lohit Hindi") /* Devanagari script */
}

@font-face {
    font-family: serif;
    src: prince-lookup("UnBatang"), prince-lookup("Baekmuk Batang") /* Korean */
}

@font-face {
    font-family: serif;
    unicode-range: U+3040-309F, U+30A0-30FF, U+4E00-9FBF;
    src: prince-lookup("Kochi Mincho") /* Japanese */
}

@font-face {
    font-family: serif;
    src: prince-lookup("AR PL UMing CN"), prince-lookup("AR PL SungtiL GB") /* Chinese */
}

@font-face {
    font-family: serif;
    src: prince-lookup("OpenSymbol")
}

@font-face {
    font-family: serif;
    src: prince-lookup("Times New Roman"), prince-lookup("DejaVu Serif"), prince-lookup("DejaVu LGC Serif"), prince-lookup("Liberation Serif")
}

/* standard "sans-serif" font family */
@font-face {
    font-family: sans-serif;
    src: prince-lookup("UnDotum"), prince-lookup("Baekmuk Gulim") /* Korean */
}

@font-face {
    font-family: sans-serif;
    unicode-range: U+3040-309F, U+30A0-30FF, U+4E00-9FBF;
    src: prince-lookup("Kochi Gothic") /* Japanese */
}

@font-face {
    font-family: sans-serif;
    src: prince-lookup("AR PL UKai CN"), prince-lookup("AR PL KaitiM GB"), url('../fonts/uming.ttc') /* Chinese */
}

@font-face {
    font-family: sans-serif;
    src: prince-lookup("OpenSymbol")
}

@font-face {
    font-family: sans-serif;
    src: prince-lookup("Arial"), prince-lookup("DejaVu Sans"), prince-lookup("DejaVu LGC Sans"), prince-lookup("Liberation Sans")
}

/* standard "monospace" font family */
@font-face {
    font-family: monospace;
    src: prince-lookup("Courier New"), prince-lookup("DejaVu Sans Mono"), prince-lookup("DejaVu LGC Sans Mono"), prince-lookup("Liberation Mono")
}

/* standard "cursive" font family */
@font-face {
    font-family: cursive;
    src: prince-lookup("Comic Sans MS"), prince-lookup("DejaVu Sans"), prince-lookup("DejaVu LGC Sans"), prince-lookup("Liberation Sans")
}

/* standard "fantasy" font family */
@font-face {
    font-family: fantasy;
    src: prince-lookup("Comic Sans MS"), prince-lookup("DejaVu Sans"), prince-lookup("DejaVu LGC Sans"), prince-lookup("Liberation Sans")
}

/* Custom KF Fonts */
@font-face {
    font-family: "ProximaNova-Light";
    font-style: normal;
    font-weight: normal;
    src: url("../../../../../../../../../assets/fonts/ProximaNovaLight.ttf");
}

@font-face {
    font-family: "ProximaNova-LightItalic";
    font-style: italic;
    font-weight: normal;
    src: url("../../../../../../../../../assets/fonts/ProximaNovaLightItalic.ttf");
}

@font-face {
    font-family: "ProximaNovaBlack";
    font-style: normal;
    font-weight: normal;
    src: url("../../../../../../../../../assets/fonts/ProximaNovaBlack.ttf");
}

@font-face {
    font-family: "ProximaNova-BlackItalic";
    font-style: italic;
    font-weight: normal;
    src: url("../../../../../../../../../assets/fonts/ProximaNovaBlackItalic.ttf");
}

@font-face {
    font-family: "ProximaNova-Regular";
    src: url("../../../../../../../../assets/fonts/ProximaNovaRegular.ttf") 

}

@font-face {
    font-family: "ProximaNova-Semibold";
    src: url("../../../../../../../../assets/fonts/ProximaNovaSemibold.ttf") 

}


@font-face {
    font-family: "ProximaNova-Bold";
    font-style: normal;
    font-weight: normal;
    src: url("../../../../../../../../assets/fonts/ProximaNovaBold.ttf");
}

@font-face {
    font-family: "ProximaNova-BoldIt";
    font-style: italic;
    font-weight: normal;
    src: url("../../../../../../../../assets/fonts/ProximaNovaBoldItalic.ttf");
}

@font-face {
    font-family: "ProximaNova-RegularItalic";
    font-style: italic;
    font-weight: normal;
    src: url("../../../../../../../../assets/fonts/ProximaNovaRegularItalic.ttf");
}

@font-face {
    font-family: "Arial";
    font-style: normal;
    font-weight: normal;
    src: url("../../../../../../reporting-services-authoring/assets/fonts/arial.ttf");
}

@font-face {
    font-family: "ArialBold";
    font-style: normal;
    font-weight: normal;
    src: url("../../../../../../../../../assets/fonts/arialbd.ttf");
}

@font-face {
    font-family: "KornFerryWebIcons";
    src: url(../../../../assets/fonts/KornFerryWebIcons-Regular.eot); /* IE9 Compat Modes */
    src: url(../../../../assets/fonts/KornFerryWebIcons-Regular.eot?#iefix) format('embedded-opentype'),
        /* IE6-IE8 */ url(../../../../assets/fonts/KornFerryWebIcons-Regular.woff) format('woff'),
        /* Modern Browsers */ url(../../../../assets/fonts/KornFerryWebIcons-Regular.ttf) format('truetype'),
        /* Safari, Android, iOS */ url(../../../../assets/fonts/KornFerryWebIcons-Regular.svg#KornFerryWebIcons-Regular) format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
}

/* font weights */
.primary-font-black {
    font-family: "ProximaNovaBlack", sans-serif;
}

.primary-font-bold {
    font-family: 'ProximaNovaBold', sans-serif;
    font-weight: 700;
}

.primary-font-semibold {
    font-family: 'ProximaNovaRegular', sans-serif;
    font-weight: 600;
}

.primary-font-regular {
    font-family: 'ProximaNovaRegular', sans-serif;
}

.primary-font-light {
    font-family: 'ProximaNovaLight', sans-serif;
}

.tiny-text {
    font-size: 5pt;
}

.smallest-text {
    font-size: 6pt;
}

.smaller-text {
    font-size: 7pt;
}

.small-text {
    font-size: 9pt;
    line-height: 1.1em;
}

.medium-text {
    font-size: 11pt;
}

.large-text {
    font-size: 12pt;
}

.larger-text {
    font-size: 15pt;
}

.largest-text {
    font-size: 18pt;
}

.huge-text {
    font-size: 24pt
}

.title-text {
    font-size: 36pt;
    line-height: 36pt;
}
