.main-container{
	margin:0 36px;
}

/* first pages */
.cover-page-portrait{
    page-break-before: always;
    page-break-after: always;
    height: 800px;
    box-sizing: border-box;
}

.cover-page-portrait .section-1{
    height: 30%;
    margin: 0;
    box-sizing: border-box;
    color: inherit;
}

.cover-page-portrait .section-2{
    height: 20%;
    margin: 0;
    box-sizing: border-box;
    color: inherit;
}

.cover-page-portrait .section-3{
    height: 50%;
    margin: 0;
    box-sizing: border-box;
    color: inherit;
}

.cover-page-meta-data{
    display: block;
    width: 50%;
}

.cover-page-meta-data .meta-data-label{
    display: table-cell;
    font-family: 'ProximaNova-Semibold', sans-serif;
    width: 50%;
}

.cover-page-meta-data .meta-data-value{
    display: table-cell;
    font-family: 'ProximaNova-Regular', sans-serif;
    width: 50%;
}

/* page section */
.section {
    page-break-before: auto;
    page-break-inside: auto;
    page-break-after: always;
}

.section .sub-sections .sub-section {
    page-break-before: always;
    page-break-inside: avoid;
}

.section .sub-sections > div:first-of-type, .section .sub-sections .sub-section-experience{
    page-break-before: avoid;
    page-break-inside: auto;
}

.table {
    display: block;
    margin: 0;
    padding: 0;
}

.table .header-row {
    color: inherit;
    display: block;
    border-bottom: solid 0.5px #d7d9d8;
	font-family:'ProximaNova-Semibold', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
}

.table .header-row .header-column {
    display: table-cell;
    margin: 0;
    padding: 5px 0;
    vertical-align: middle;
    box-sizing: border-box;
    text-transform: uppercase;
    font-size: 9px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 0.8px;
    text-align: left;
    color: inherit;
}

.table .row{
    display: block;
    border-bottom: dashed 0.5px #d7d9d8;
    margin: 0;
    padding: 0;
    width: 100%;
}

.table .row:last-of-type {
    display: block;
    border-bottom: solid 0.5px #d7d9d8;
    margin: 0;
    padding: 0;
    width: 100%;
}

.table .row .column{
    display: table-cell;
    margin: 0;
    padding: 10px 0;
    vertical-align: middle;
    box-sizing: border-box;

}

.col-12 {
    width: 100%;
}

.col-11 {
    width: 91.66666667%;
}

.col-10 {
    width: 83.33333333%;
}

.col-9 {
    width: 75%;
}

.col-8 {
    width: 66.66666667%;
}

.col-7 {
    width: 58.33333333%;
}

.col-6 {
    width: 50%;
}

.col-5 {
    width: 41.66666667%;
}

.col-4 {
    width: 33.33333333%;
}

.col-3 {
    width: 25%;
}

.col-2 {
    width: 16.66666667%;
}

.col-1 {
    width: 8.33333333%;
}

.clear-fix{
    clear: both;
}