h1 {
    font-family: 'ProximaNova-Regular', sans-serif;
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.15;
    letter-spacing: 1.5px;
    text-align: left;
}

h2 {
    font-family: 'ProximaNova-Regular', sans-serif;
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.15;
    letter-spacing: 0.5px;
    text-align: left;
}

h3 {
    font-family: 'ProximaNova-Regular', sans-serif;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: 1px;
    text-align: left;
}

h4 {
    font-family: 'ProximaNova-Regular', sans-serif;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: 1px;
    text-align: left;
}

h5 {
    font-family: 'ProximaNova-Semibold', sans-serif;
    font-size: 9px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 0.8px;
    text-align: left;
}

h6 {
    font-family: 'ProximaNova-Regular', sans-serif;
    font-size: 7px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: 0.7px;
    text-align: left;
    color: #959599;
    color: var(--gray-4);
}

body{
  font-family: 'ProximaNova-Regular', sans-serif;
  font-size: 10px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: 0.3px;
  text-align: left;
  color: #4d4d4f;
  color: var(--gray-2);
}

.page-title{
    font-family: 'ProximaNova-Semibold', sans-serif;
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.15;
    letter-spacing: 1.5px;
    text-align: left;
    text-transform: uppercase;
    color: #000000;
    color: var(--black);
    page-break-before: always
}
.page-title:after {
    width: 54px;
    height: 3px;
    border-bottom: solid 2px #919191;
    border-bottom: solid 2px var(--gray-3);
    display: block;
    content: '';
}

/***/
.title {
    font-family: ProximaNova-Regular, sans-serif;
    font-size: 28px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.07;
    letter-spacing: 1.5px;
    text-align: left;
    color: #005971;
    color: var(--brand-accent-1);
}
.cover-solution-name {
    font-family: 'ProximaNova-Bold', sans-serif;
    font-size: 10px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.3;
    letter-spacing: 1.2px;
    text-align: left;
}

.legend {
    font-family: 'ProximaNova-Regular', sans-serif;
    font-size: 7px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: 0.7px;
    text-align: left;
    color: #959599;
    color: var(--gray-4);
}

.body-text {
    font-family: 'ProximaNova-Regular', sans-serif;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: 0.3px;
    text-align: left;
    color: #4d4d4f;
    color: var(--gray-2);
}

.small-text {
    font-family: 'ProximaNova-Regular', sans-serif;
    font-size: 9px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: 0.3px;
    text-align: left;
    color: #4d4d4f;
    color: var(--gray-2);
}

.large-text {
    font-family: 'ProximaNova-Regular', sans-serif;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 0.5px;
    text-align: left;
    color: #4d4d4f;
    color: var(--gray-2);
  }