@import "../../shared/fonts.css";
@import "../../shared/layouts.css";
@import "../../shared/typography.css";


.about-kf {
	margin-left:42px;
}
.about-kf div {
	text-align:left;
	width:70%;
}

.progress-bar {
    display: inline-block;
    width: 100%;
    margin: 0;
    vertical-align: middle;
}
.progress-bar .label{
    display: inline-block;
    vertical-align: middle;
    padding-right: 2px;
}
.progress-bar .item {
    display: inline-block;
    width: 14px;
    height: 6px;
    background-color: #c4e2c4;
    border: 0;
    padding: 0;
    margin: 0;
    vertical-align: middle;
}

.progress-bar .filled {
    opacity: 1;
    background-color: #62bc62;
}

h1, h2 {
    color: black;
}
.table .header-row{
    font-family:'ProximaNova-Semibold', sans-serif;
    color: #4d4d4f;
    color: var(--gray-2);
}

.table .row div:nth-child(1){

    font-family:'ProximaNova-Semibold', sans-serif;
    color: #000000;
    color: var(--black);
}
.table .row div:nth-child(2){

    font-family:'ProximaNova-Semibold', sans-serif;
    color: #000000;
    color: var(--black);
}

.cover-page-portrait {
    color: white;
}

.cover-page-header{
	margin-bottom:30px;
    margin-top:30px;
    color: inherit;
}

.cover-page-header .title{

    color: inherit;
	font-family: 'ProximaNova-Semibold', sans-serif;
	font-size:28px;
	font-weight:600;
	letter-spacing:1.5px;
	line-height:1.07;
	padding-bottom:10px;
	text-align:left;
    text-transform:uppercase;
    
}

.cover-page-header .details{
    

    color: inherit;
	display:block;
	flex-direction:row;
	font-family:'ProximaNova-Regular', sans-serif;
	font-size:10px;
	letter-spacing:.3px;
	line-height:1.6;
	text-align:left;
    vertical-align: middle;
}

.cover-page-header .details div {
	display:block;
	float:left;
	margin-left:5px;
	padding-left:5px;
}

.cover-page-header .details div:first-child {
	margin-left:0;
	padding-left:0;
}

.cover-page-header .details div.seperator {
	border-left:solid white .5px;
}
/*-- colors --*/

.global-color-1 {
    color: #000;
}

.global-color-2 {
    color: #a1a5a4;
}

.global-background-color-2 {
    background-color: #f7f7f7;
}

.first-color-1 {
    color: #5eb48b;
}

.first-background-color-2 {
    background-color: #cfe8dc;
}

.second-color-1 {
    color: #675a81;
}

/*-- special --*/

.korn-ferry-logo-special {
    width: 205pt;
    height: 42.874pt;
    margin-left: -25pt;
}

.company-logo-special {
    height: 49px;
    width: 179px;
    margin-left: 70%;
}

.info-special {
    display: inline-block;
}

.experiences-special {
    margin-left: 0px;
    list-style-position: inside;
}

.experiences-special > li > span {
    margin-left: -10px;
}

.experiences-special:last-child {
    border-bottom: none;
}

.key-onboarding-areas-special {
    padding: 9px 13px;
    list-style: none;
    margin: 2px 10px 2px 0;
}

.key-onboarding-areas-conclusion-special li {
    margin-bottom: 7pt;
    margin-top: 7pt;
}

.last-page-special {
    border-left: 1px solid #000;
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
}

.last-page-special > div {
    padding-left: 20px;
    float: bottom;
}

.tier-special {
    margin-left: 10pt;
    text-align: center;
    padding: 7pt 0 2pt 0;
}

.tier-special span {
    font-weight: bold;
    font-size: 2.7em;
}

.tier-header-special {
    font-size: 7.5pt;
    text-align: center;
    float: right;
    width: 50%;
    clear: both
}

.disclaimer-special {
    padding-bottom: 10pt;
    position: absolute;
    bottom: 0;
}


/* shared */
/*-- globals --*/

body {
    margin: 0;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

p {
    break-inside: avoid-column;
    page-break-inside: avoid;
    column-break-inside: avoid;
}

li {
    margin-left: -29pt;
}

/*-- fonts --*/

.primary-font-black {
    font-family: sans-serif;
    font-weight: 800
}

.primary-font-bold {
    font-family: sans-serif;
    font-weight: 700;
}

.primary-font-semibold {
    font-family: sans-serif;
    font-weight: 600;
}

.primary-font-regular {
    font-family: sans-serif;
    font-weight: 400;
}

.primary-font-light {
    font-family: sans-serif;
    font-weight: 200;
}

/*-- layout --*/

.anchor {
    position: relative;
}

.page {
    break-after: always;
}

.two-column, .three-column, .four-column {
    column-fill: balance;
    column-gap: 15px;
}

.visual-component {
    width: 100%;
    height: auto;
}

.two-column {
    column-count: 2;
}

.three-column {
    column-count: 3;
}

.four-column {
    column-count: 4;
}
